@import '../../../../global.scss';

.header_container {
    margin: 0;
    min-width: 1280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 17px 2px $main-shadow;
    background-color: $main-black;
    padding-right: 30px;

    .left_part_wrapper {
        display: flex;
        align-items: center;

        .button_theme {
            margin-left: 15px;
            cursor: pointer;
            border: none;
            background-color: $main-black;
            color: $main-white;
            font-size: 1.1rem;
            transition: .5s;

            &:hover {
                color: $main-white-hover;
            }
        }
    }

    .nav_bar {
        width: 30%;
        height: 100%;
    }

    .nav_items {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 50px;

        li,
        .nav_button {
            cursor: pointer;
            padding-bottom: 2px;
            color: $main-white;
            text-decoration: none;
            list-style-type: none;
            font-size: 1.1rem;
            font-weight: 700;
            transition: .4s;
            border: none;
            background-color: $main-black;
        }

        .nav_button.disabled {
            cursor: auto;
            color: $main-grey;

            &:hover {
                color: $main-grey;
            }
        }

        li:hover,
        .nav_button:hover {
            color: $main-white-hover;
        }

        .active {
            text-decoration: underline $main-azure 3px;
            color: $main-white-hover;
        }
    }

}

.theme-switcher {
    display: flex;
    margin-left: 50px;
    color: $main-white;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

input[type=radio] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

input[type=radio]:checked {
    background-color: $main-white;
    border-color: $main-white;   
}