<div class="header_container">
  <app-logo (click)="goToTheMain()"></app-logo>
  <nav class="nav_bar">
    <ul class="nav_items">
      <li>
        <button
          [class]="currentURl === '/' ? 'nav_button active' : 'nav_button'"
          (click)="goToTheMain()">
          Main
        </button>
      </li>
      <li>
        <button
          [class]="currentURl === '/profile' ? 'nav_button active' : 'nav_button'"
          (click)="goToTheProfile()">
          Profile
        </button>
      </li>
      <li>
        <button class="nav_button">Groups</button>
      </li>
      <li>
        <button class="nav_button">Conversations</button>
      </li>
      <ng-container *ngIf="isUserAuth$ | async as isUserAuth">
        <ng-container *ngIf="isUserAuth">
          <li>
            <button
              [class]="isLogoutButtonClicked ? 'nav_button disabled' :  'nav_button'"
              (click)="Logout()">
              Logout
            </button>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nav>
</div>
