$main-azure: #2df6db;
$main-green: #0ce41e;
$main-black: #000000;
$main-white: #ffffff;
$main-grey: #9c9a9a;
$main-grey-light: #b8b7b7;
$main-green-font: #008000;
$main-red: #ff0000;
$main-white-hover: #dde2e1;
$main-white-hover-button: #ebeeed;
$main-black-hover: #575656;
$main-shadow: #cccbcb;